{% extends 'base.html' %}

{% block content %}
<h2>Employee List</h2>

<!-- Top Bar -->
<div class="top-bar">
    <div class="top-actions">

        <!-- Add Member -->
        <a href="{% url 'createEmployeeWithForm' %}" class="btn btn-add">
            + Add Member
        </a>

        <!-- Filter -->
        <a href="{% url 'filterEmployee' %}" class="btn btn-filter">
            Filter
        </a>

        <!-- Sort -->
        <div class="sort-box">

            <span>Sort:</span>

            <a href="?sort=name">Name ↑</a>
            <a href="?sort=-name">Name ↓</a>

            <a href="?sort=salary">Salary ↑</a>
            <a href="?sort=-salary">Salary ↓</a>

            <a href="?sort=id">ID ↑</a>
            <a href="?sort=-id">ID ↓</a>

            <a href="?sort=date">Date ↑</a>
            <a href="?sort=-date">Date ↓</a>

        </div>

    </div>

</div>

<!-- Table -->
<div class="table-container">

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Join Date</th>
            <th>Post</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

        {% for emp in employees %}

        <tr>
            <td>{{ emp.id }}</td>
            <td>{{ emp.name }}</td>
            <td>{{ emp.age }}</td>
            <td>{{ emp.salary }}</td>
            <td>{{ emp.join_date }}</td>
            <td>{{ emp.post }}</td>

            <td>

                <a href="{% url 'deleteEmployee' emp.id %}" 
                   class="btn btn-delete"
                   onclick="return confirm('Are you sure delete?')">
                   Delete
                </a>

                <a href="{% url 'updateEmployee' emp.id %}" 
                   class="btn btn-update">
                   Update
                </a>

            </td>
        </tr>

        {% endfor %}

    </tbody>

</table>

</div>

{% endblock content %}
